{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ZRApp - Pieslēgties{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Pieslēgties</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>Esi aizmirsis savu paroli? <a href="{{ url_for('auth.password_reset_request') }}">Spied šeit, lai atiestatītu to</a>.</p>
    <p>Jauns lietotājs? <a href="{{ url_for('auth.register') }}">Spied šeit, lai reģistrētos</a>.</p>
</div>
{% endblock %}