{% extends "base.html" %}

{% block title %}<title>ZRApp - Apstiprināt lietotāja kontu</title>{% endblock %}

{% block page_content %}
<h1 class="display-1">
    Sveiks, {{ current_user.username }}!
</h1>
<hr>
<h2>Tu vēl neesi apstiprinājis savu e-pasta adresi.</h2>
<p>
    Pirms Tu vari piekļūt mājaslapai, Tev ir nepieciešams apstiprināt savu e-pasta adresi.
    Lūdzu pārbaudi savu e-pasta pastkasti, Tev vajadzētu būt saņēmušam e-pastu ar saiti adreses apstiprināšanai.
</p>
<p>
    Nepieciešama jauna saite adreses apstiprināšanai?
    <a href="{{ url_for('auth.resend_confirmation') }}">Spied šeit</a>
</p>
{% endblock %}