{% extends "base.html" %}

{% block title %}ZRApp - atjaunot datus{% endblock %}

{% block head %}
{{ super() }}
<style>
    .spinner-wrapper {
        text-align: center;
        opacity: 0;
        display: none
        transition: all 0.2s;
    }
</style>
{% endblock %}

{% block page_content %}
<h1 class="display-1">Zāļu reģistra un tā izmaiņu lejuplāde</h1>
<div class="col-6 pt-5">
    <form method="POST" action="">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col">
                <p class="text-end">{{ form.dateFrom.label }}</p>
            </div>
            <div class="col">
                <p>{{ form.dateFrom }}</p>
            </div>
        </div>

        <p class="text-center">
            Dati pēdējo reizi atjaunoti {{ lastUpdate }}
        </p>

        <div style="color: var(--bs-warning-text-emphasis)">
            {% if form.dateFrom.errors %}
            <ul>
                {% for error in form.dateFrom.errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="text-center pt-1">
            <input type="submit" name="Iesniegt" value="Iesniegt" onclick="loading()">
        </div>
    </form>
    <div class="spinner-wrapper">
        <div class="spinner-border m-1" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
    const spinnerWrapperEl = document.querySelector('.spinner-wrapper');
    function loading() {
        spinnerWrapperEl.style.opacity = '1'
    }    
</script>
{% endblock %}