{% extends "base.html" %}
{% block title %}<title>ZRApp - pārskatīt medikamentus</title>{% endblock %}

{% block page_content %}
<h1 class="display-1">Pārskatīt medikamentus</h1>
<hr>
<p>Kopš pēdējās datu atjaunošanas, Latvijas Zāļu reģistrā pievienoti {{ count }} jauni medikamenti.</p>
<p>Pievienoti šādi medikamenti.</p>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 
                row-cols-lg-3 g-4">
        {%- for addedMedication in addedMedications %}
        <div class="col">
            {% if addedMedication.userChecked == True %}
            <div class="card text-bg-success">
            {% else %}
            <div class="card text-bg-warning">
            {%endif%}
                <div class="card-body">
                    
                        <p class="card-title">
                            Medikamenta nosaukums: 
                            <strong>{{addedMedication.name}}</strong><br>
                            Aktīvā viela:
                            <strong>{{ addedMedication.activeSubstance}}</strong>
                        </p>
                    
                    <p class="card-text">
                        Reģistrācijas numurs:
                        {{ addedMedication.regNumber}}<br>
                        Zāļu forma:
                        {{ addedMedication.form}}
                    </p>
                    <a href="#" class="btn btn-secondary btn-sm stretched-link">Ievadīt informāciju</a>
                </div>
            </div>
        </div>
        {%- endfor %}
    </div>
</div>
<br>
{% endblock %}