{% extends "base.html" %}
{% block title %}<title>ZRApp - pārbaudīt medikamentus</title>{% endblock %}

{% from 'bootstrap5/form.html' import render_form_row %}


{% block page_content %}
<h1 class="display-1">Pārbaudīt medikamentus</h1>
<hr>
<br>
<form method="post">
{% for review_medication_form in form.medications %}
    {{ review_medication_form.csrf_token() }}
    {{ render_form_row([review_medication_form.include]) }}
    {{ render_form_row([review_medication_form.teksts]) }}
    {{ render_form_row([review_medication_form.submit]) }}
{% endfor %}
</form>
<br>
{% endblock %}