{% extends "base.html" %}
{% block title %}<title>ZRApp - pārskatīt medikamentus</title>{% endblock %}

{% block page_content %}
<h1 class="display-1">Pārskatīt medikamentus</h1>
<hr>
<p>Kopš pēdējās datu atjaunošanas, Latvijas Zāļu reģistrā pievienoti {{ count }} jauni medikamenti.</p>
<p>Pievienoti šādi medikamenti.</p>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 
                row-cols-lg-3 g-4">
        {%- for addedMedication in addedMedications %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <strong>
                        <p class="card-title">
                            {{addedMedication.name}}
                        </p>
                    </strong>
                    <p class="card-text">
                        {{ addedMedication.regNumber}}
                    </p>
                </div>
            </div>
        </div>
        {%- endfor %}
    </div>
</div>
<br>
{% endblock %}