{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='spinner.css') }}">
{% endblock %}

{% block title %}<title>ZRApp - atjaunot datus</title>{% endblock %}

{% block page_content %}
<div class="whole-page">
    <h1 class="display-1">Zāļu reģistra un tā izmaiņu lejuplāde</h1>
    <hr>
    <p>Dati pēdējo reizi atjaunoti {{ last_update }}</p>
    {{ render_form(form, extra_classes='col-lg-6', render_kw={'onsubmit': 'return loading()'}) }}
</div>
<div class="spinner-wrapper">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='spinner.js') }}"></script>
{% endblock %}