{% extends "base.html" %}
{% block title %}<title>ZRApp - pārskatīt sagatavotos datus</title>{% endblock %}

{% block page_content %}
<h1 class="display-1">Pārskatīt sagatavotos</h1>
<hr>
<div class="d-flex">
    <div class="flex-grow-1">
        <p>Zāļu reģistra dati tiks papildināti ar šādiem medikamentiem un informāciju par tiem</p>
        <p>Vai vēlies failus augšuplādēt ZVA un data.gov.lv?</p>
    </div>
    <div class="align-self-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Augšuplādēt datus
        </button>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Vai esi pārliecināts?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Vai esi drošs, ka saglabātie dati ir pareizi un vēlies tos augšuplādēt ZVA un data.gov.lv serveros?
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" href="{{ url_for('file_prepare.review_medication') }}" role="button">Nē, vēlos
                    vēlreiz pārbaudīt datus</a>
                <a class="btn btn-danger" href="{{ url_for('file_prepare.upload_finished') }}" role="button">Jā, vēlos
                    datus augšuplādēt</a>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-sm table-striped table-hover">
        <thead class="table-auto">
            <tr>
                <td>
                    Nosaukums
                </td>
                <td>
                    Reģ. Nr.
                </td>
                <td>
                    Forma
                </td>
                <td>
                    Aktīvā viela
                </td>
                <td>
                    Aizliegts ārpus sacensībām
                </td>
                <td>
                    Aizliegts sacensību laikā
                </td>
                <td>
                    Aizliegto vielu un metožu saraksta klase
                </td>
                <td>
                    Piezīmes par lietošanu
                </td>
                <td>
                    Sporta veidi, kuros aizliegts sacensību laikā
                </td>
                <td>
                    Sporta veidi, kuros aizliegts ārpus sacensībām
                </td>
                <td>
                    Notes
                </td>
                <td>
                    Prohibited In-Competition in the following sports
                </td>
                <td>
                    Prohibited Out-of-Competition in the following sports
                </td>
            </tr>
        </thead>
        <tbody>
        {% for row in csv %}
            <tr>
                <td>
                    {{ row[0] }}
                </td>
                <td>
                    {{ row[1] }}
                </td>
                <td>
                    {{ row[2] }}
                </td>
                <td>
                    {{ row[3] }}
                </td>
                <td>
                    {{ row[4] }}
                </td>
                <td>
                    {{ row[5] }}
                </td>
                <td>
                    {{ row[6] }}
                </td>
                <td>
                    {{ row[7] }}
                </td>
                <td>
                    {{ row[8] }}
                </td>
                <td>
                    {{ row[9] }}
                </td>
                <td>
                    {{ row[10] }}
                </td>
                <td>
                    {{ row[11] }}
                </td>
                <td>
                    {{ row[12] }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}