{% extends "base.html" %}
{% block title %}<title>ZRApp - pārskatīt medikamentus</title>{% endblock %}

{% block page_content %}

{% if countUnchecked != 0 %}
<h1 class="display-1">Pārskatīt medikamentus</h1>
<hr>
{% if count % 10 == 1 and count % 100 != 11 %}
<p>Atrasts {{ count }} jauns medikaments.</p>
{% elif count % 100 == 11 %}
<p>Atrasti {{ count }} jauni medikamenti.</p>
{% else %}
<p>Atrasti {{ count }} jauni medikamenti.</p>
{% endif %}

{% else %}

<h1 class="display-1">Pārskatīt medikamentus</h1>
<hr>
<div class="d-flex">
    <div class="flex-grow-1">
        {% if count % 10 == 1 and count % 100 != 11 %}
        <p>Atrasts {{ count }} jauns medikaments.</p>
        {% elif count % 100 == 11 %}
        <p>Atrasti {{ count }} jauni medikamenti.</p>
        {% else %}
        <p>Atrasti {{ count }} jauni medikamenti.</p>
        {% endif %}
    </div>
    <div class="align-self-center">
        <a class="btn btn-primary" href="{{ url_for('medSearch.uploadReview') }}" role="button">Saglabāt datus teksta
            failā</a>
    </div>
</div>
{%endif%}



<div class="container">
    <div class="row row-cols-1 row-cols-md-2 
                row-cols-lg-3 g-4">
        {%- for searchedMedication in searchedMedications %}
        <div class="col">
            <div {% if ((searchedMedication.userChecked==True) and (searchedMedication.include==True)) %}
                class="card text-bg-success">
                {% elif ((searchedMedication.userChecked == True) and (searchedMedication.include == False)) %}
                class="card border-success">
                {% else %}
                class="card text-bg-warning">
                {% endif %}
                <a id="{{ searchedMedication.regNumber}}" style="display: block; position: relative; top: -50px; visibility: hidden;"></a>
                <div class="card-body">

                    <p class="card-title">
                        Medikamenta nosaukums:
                        <strong>{{ searchedMedication.name }}</strong><br>
                        Aktīvā viela:
                        <strong>{{ searchedMedication.activeSubstance}}</strong>
                    </p>

                    <p class="card-text">
                        Reģistrācijas numurs:
                        {{ searchedMedication.regNumber}}<br>
                        Zāļu forma:
                        {{ searchedMedication.form}}
                    </p>
                    {% if (searchedMedication.doping == False) %}
                    <a href="{{ url_for('medSearch.checkMedication', regNumber=searchedMedication.regNumber) }}"
                        class="btn btn-primary btn-sm">Ievadīt informāciju</a>
                    {% endif %}
                    {% if searchedMedication.userChecked == True %}

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#modal{{ loop.index }}">
                        Ievadītā informācija
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="modal{{ loop.index }}" tabindex="-1"
                        aria-labelledby="modalLabel{{ loop.index }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content" style="color: black;">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="modalLabel{{ loop.index }}">Ievadītā
                                        informācija</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Vai medikaments ir aizliegts ārpus sacensībām?</td>
                                                <td><strong>{{ searchedMedication.prohibitedOUTCompetition
                                                        }}</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Vai medikaments ir aizliegts sacensību laikā</td>
                                                <td><strong>{{ searchedMedication.prohibitedINCompetition
                                                        }}</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Aizliegto vielu un metožu saraksta klase</td>
                                                <td><strong>{{ searchedMedication.prohibitedClass }}</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Piezīmes par medikamenta lietošanu</td>
                                                <td><strong>{{ searchedMedication.notesLV }}</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Piezīmes angliski</td>
                                                <td><strong>{{ searchedMedication.notesEN }}</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Sporta veidi, kuros aizliegts sacensību laikā</td>
                                                <td><strong>{{ searchedMedication.sportsINCompetitionLV
                                                        }}</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Šie sporta veidi angliski</td>
                                                <td><strong>{{ searchedMedication.sportsINCompetitionEN
                                                        }}</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Sporta veidi, kuros aizliegts ārpus sacensībām</td>
                                                <td><strong>{{ searchedMedication.sportsOUTCompetitionLV
                                                        }}</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Šie sporta veidi angliski</td>
                                                <td><strong>{{ searchedMedication.sportsOUTCompetitionEN }}
                                                        </strong< /td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {%- endfor %}
    </div>
</div>
{% endblock %}