{% extends "base.html" %}
{% block title %}<title>ZRApp - pārskatīt sagatavotos datus</title>{% endblock %}

{% block page_content %}
<h1 class="display-1">Pārskatīt sagatavotos</h1>
<hr>
<div class="d-flex">
    <div class="flex-grow-1">
        <p>Zāļu reģistra dati tiks papildināti ar šādiem medikamentiem un informāciju par tiem</p>
        <p>Vai vēlies failus augšuplādēt ZVA un data.gov.lv?</p>
    </div>
    <div class="align-self-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Augšuplādēt datus
        </button>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Vai esi pārliecināts?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Vai esi drošs, ka saglabātie dati ir pareizi un vēlies tos augšuplādēt ZVA un data.gov.lv serveros?
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" href="{{ url_for('medSearch.reviewMedication') }}" role="button">Nē, vēlos
                    vēlreiz pārbaudīt datus</a>
                <a class="btn btn-danger" href="{{ url_for('medSearch.uploadFinished') }}" role="button">Jā, vēlos
                    datus augšuplādēt</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {%- for row in csv %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">
                        medicine_name:
                        <strong>{{ row[0] }}</strong>
                    </p>
                    <p class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            authorisation_no:<br>
                            <strong>{{ row[1] }}</strong>
                        </li>
                        <li class="list-group-item">
                            pharmaceutical_form_lv:<br>
                            <strong>{{ row[2] }}</strong>
                        </li>
                        <li class="list-group-item">
                            active_substance:<br>
                            <strong>{{ row[3] }}</strong>
                        </li>
                        <li class="list-group-item">
                            Aizliegts ārpus sacensībām:<br>
                            <strong>{{ row[4] }}</strong>
                        </li>
                        <li class="list-group-item">
                            Aizliegts sacensību laikā:<br>
                            <strong>{{ row[5] }}</strong>
                        </li>
                        <li class="list-group-item">
                            Aizliegto vielu un metožu saraksta klase:<br>
                            <strong>{{ row[6] }}</strong>
                        </li>
                        <li class="list-group-item">
                            Piezīmes par lietošanu:<br>
                            <strong>{{ row[7] }}</strong>
                        </li>
                        <li class="list-group-item">
                            Sporta veidi, kuros aizliegts sacensību laikā:<br>
                            <strong>{{ row[8] }}</strong>
                        </li>
                        <li class="list-group-item">
                            Sporta veidi, kuros aizliegts ārpus sacensībām:<br>
                            <strong>{{ row[9] }}</strong>
                        </li>
                        <li class="list-group-item">
                            Notes:<br>
                            <strong>{{ row[10] }}</strong>
                        </li>
                        <li class="list-group-item">
                            Prohibited In-Competition in the following sports:<br>
                            <strong>{{ row[11] }}</strong>
                        </li>
                        <li class="list-group-item">
                            Prohibited Out-of-Competition in the following sports:<br>
                            <strong>{{ row[12] }}</strong>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        {%- endfor %}
    </div>
</div>
{% endblock %}