{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form_row %}

{% block title %}<title>ZRApp - pievienot informāciju</title>{% endblock %}

{% block page_content %}

<h1 class="display-1">Informācijas pievienošana</h1>
<hr>
{% if (admin_required == False) or ((admin_required == True) and (current_user.is_administrator())) %}
<div class="row">
    <div class="col">
        <form method="post">
            {{ form.csrf_token() }}
            {{ render_form_row([form.prohibitedOUTCompetition]) }}
            {{ render_form_row([form.prohibitedINCompetition]) }}
            {{ render_form_row([form.prohibitedClass]) }}
            {{ render_form_row([form.notesLV]) }}
            {{ render_form_row([form.notesEN]) }}
            {{ render_form_row([form.sportsINCompetitionLV]) }}
            {{ render_form_row([form.sportsINCompetitionEN]) }}
            {{ render_form_row([form.sportsOUTCompetitionLV]) }}
            {{ render_form_row([form.sportsOUTCompetitionEN]) }}
            {{ render_form_row([form.include], button_map={'include': 'primary'}, row_class='p-2 row') }}
            {% if bulk_edit %}
            {{ render_form_row([form.bulkInclude], button_map={'bulkInclude': 'danger'}, row_class='p-2 row') }}
            {% endif %}
            {{ render_form_row([form.notInclude], button_map={'notInclude': 'warning'}, row_class='p-2 row') }}
        </form>
    </div>
    <div class="col">
        <div class="sticky-top">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Medikamenta nosaukums:</td>
                        <td><strong>{{ medication.name }}</strong></td>
                    </tr>
                    <tr>
                        <td>Aktīvā viela:</td>
                        <td><strong>{{ medication.activeSubstance}}</strong></td>
                    </tr>
                    <tr>
                        <td>Reģistrācijas numurs:</td>
                        <td>{{ medication.regNumber}}</td>
                    </tr>
                    <tr>
                        <td>Zāļu forma:</td>
                        <td><strong>{{ medication.form}}</strong></td>
                    </tr>
                </tbody>
            </table>
            <!--  -->
            {% if notes_by_form %}
            <p class="pt-5 px-5 fst-italic">Šī informācija ir par medikamentu ar tieši tādu pašu ATĶ kodu un zāļu formu</p>
            <table class="table">
                <tbody>
                    <tr>
                        <td>ATĶ kods:</td>
                        <td><strong>{{ notes_by_form.atcCode }}</strong></td>
                    </tr>
                    <tr>
                        <td>Zāļu forma:</td>
                        <td><strong>{{ notes_by_form.form }}</strong></td>
                    </tr>
                    <tr>
                        <td>Vai medikaments aizliegts ārpus sacensībām:</td>
                        <td><strong>{{ notes_by_form.prohibitedOUTCompetition }}</strong></td>
                    </tr>
                    <tr>
                        <td>Vai medikaments ir aizliegts sacensību laikā:</td>
                        <td><strong>{{ notes_by_form.prohibitedINCompetition }}</strong></td>
                    </tr>
                    <tr>
                        <td>Kurai Aizliegto vielu un metožu saraksta klasei medikaments pieder:</td>
                        <td><strong>{{ notes_by_form.prohibitedClass }}</strong></td>
                    </tr>
                    <tr>
                        <td>Piezīmes par medikamenta lietošanu:</td>
                        <td><strong>{{ notes_by_form.notesLV }}</strong></td>
                    </tr>
                    <tr>
                        <td>Piezīmes par medikamenta lietošanu (angliski):</td>
                        <td><strong>{{ notes_by_form.notesEN }}</strong></td>
                    </tr>
                    <tr>
                        <td>Sporta veidi, kuros medikaments aizliegts sacensību laikā:</td>
                        <td><strong>{{ notes_by_form.sportsINCompetitionLV }}</strong></td>
                    </tr>
                    <tr>
                        <td>Sporta veidi, kuros medikaments aizliegts sacensību laikā (angliski):</td>
                        <td><strong>{{ notes_by_form.sportsINCompetitionEN }}</strong></td>
                    </tr>
                    <tr>
                        <td>Sporta veidi, kuros medikaments aizliegts ārpus sacensībām:</td>
                        <td><strong>{{ notes_by_form.sportsOUTCompetitionLV }}</strong></td>
                    </tr>
                    <tr>
                        <td>Sporta veidi, kuros medikaments aizliegts ārpus sacensībām (angliski):</td>
                        <td><strong>{{ notes_by_form.sportsOUTCompetitionEN }}</strong></td>
                    </tr>
                </tbody>
            </table>
            {% elif notes_by_atc %}
            <p class="pt-5 px-5 fst-italic">Šī informācija ir par medikamentu ar tādu pašu ATĶ kodu, bet citā zāļu formā</p>
            <table class="table">
                <tbody>
                    <tr>
                        <td>ATĶ kods:</td>
                        <td><strong>{{ notes_by_atc.atcCode }}</strong></td>
                    </tr>
                    <tr>
                        <td>Zāļu forma:</td>
                        <td><strong>{{ notes_by_atc.form }}</strong></td>
                    </tr>
                    <tr>
                        <td>Vai medikaments aizliegts ārpus sacensībām:</td>
                        <td><strong>{{ notes_by_atc.prohibitedOUTCompetition }}</strong></td>
                    </tr>
                    <tr>
                        <td>Vai medikaments ir aizliegts sacensību laikā:</td>
                        <td><strong>{{ notes_by_atc.prohibitedINCompetition }}</strong></td>
                    </tr>
                    <tr>
                        <td>Kurai Aizliegto vielu un metožu saraksta klasei medikaments pieder:</td>
                        <td><strong>{{ notes_by_atc.prohibitedClass }}</strong></td>
                    </tr>
                    <tr>
                        <td>Piezīmes par medikamenta lietošanu:</td>
                        <td><strong>{{ notes_by_atc.notesLV }}</strong></td>
                    </tr>
                    <tr>
                        <td>Piezīmes par medikamenta lietošanu (angliski):</td>
                        <td><strong>{{ notes_by_atc.notesEN }}</strong></td>
                    </tr>
                    <tr>
                        <td>Sporta veidi, kuros medikaments aizliegts sacensību laikā:</td>
                        <td><strong>{{ notes_by_atc.sportsINCompetitionLV }}</strong></td>
                    </tr>
                    <tr>
                        <td>Sporta veidi, kuros medikaments aizliegts sacensību laikā (angliski):</td>
                        <td><strong>{{ notes_by_atc.sportsINCompetitionEN }}</strong></td>
                    </tr>
                    <tr>
                        <td>Sporta veidi, kuros medikaments aizliegts ārpus sacensībām:</td>
                        <td><strong>{{ notes_by_atc.sportsOUTCompetitionLV }}</strong></td>
                    </tr>
                    <tr>
                        <td>Sporta veidi, kuros medikaments aizliegts ārpus sacensībām (angliski):</td>
                        <td><strong>{{ notes_by_atc.sportsOUTCompetitionEN }}</strong></td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <p class="pt-5 px-5 fst-italic">Par līdzīgiem medikamentiem informācija līdz šim nav pievienota<br>
                Lūdzu uzmanīgi pārbaudi pievienojamo informāciju</p>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<p>Lai rediģētu šo medikamentu nepieciešamas administratora tiesības</p>
{% endif %}
{% endblock %}