{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}<title>ZRApp - dati augšuplādēti</title>{% endblock %}

{% block page_content %}
<h1 class="display-1">Datu augšuplāde</h1>
<hr>
<div class="row row-cols-1 row-cols-lg-2 g-4">
    <div class="col">
        <p class="h4">Informācija datu augšuplādei ZVA</p>
        {{ render_form(zva_form) }}
    </div>
    <div class="col">
        <p class="h4">Informācija datu augšuplādei data.gov.lv</p>
        {{ render_form(data_gov_lv_form) }}
    </div>
</div>
{% endblock %}