<p>Sveiks, {{ user.username }}!</p>
<p>Lai atiestatītu savu paroli, lūdzu atver šo <a href="{{ url_for('auth.password_reset', token=token, _external=True) }}">saiti</a>.</p>
<p>Ja saite nedarbojas, varat nokopēt šo adresi savā interneta pārlūka adreses logā:</p>
<p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p>
<p>Ja neesi pieprasījis paroles atiestatīšanu, lūdzu ignorē šo vēstuli.</p>
<p>Jūsu ZRApp komanda</p>
<p><small>Lūdzu neatbildiet uz šo e-pastu, vēstules, kas nosūtītas uz šo e-pasta adresi netiek pārskatītas.</small></p>